<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <div class="center card">
        <h2>Password Reset Successful..</h2>
        <h3>Your password has been changed successfully. Please <a href="http://localhost:3000/register/">Login</a></h3>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeWmS11GqIVx4LSQ0JGQyw_x2yGZ4wbhxBW5E6A2Z5rw&s" alt="">
       
    </div>
</center>
</body>
</html>