<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User Details</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h2 class="mb-4">Update User Details</h2>
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            {{ user_form.as_p }}
            <button type="submit" class="btn btn-primary">Update Details</button>
        </form>
        <a href="/user_password_change/" style="background-color: tomato;color: aliceblue;"
                class="btn py-md-2 px-md-4 font-weight-semi-bold mt-2">Change Password</a> <!-- Removed ml-auto -->
    </div>
    <!-- Bootstrap JS and dependencies (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
